*{
    margin :0;
    padding:0;
}

.container{
    background-color: rgb(186, 179, 179);
    width: 100%;
    height: 800px;
}

.container .left, .right{
    width: 50%;
    float: left;
    height: 500px;

}